*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
}

ul, ol {
  list-style: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

label {
    user-select: none;
}

body {
    background-color: #fff;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

header {
    padding: 5px 0;
    height: 60px;
    background-color: #ddd;
}

main {
    margin: 20px auto;
    max-width: 1000px;
}

h1 {
    font-size: 22px;
    text-align: center;
}

.site-nav {
    margin: 0 auto;
    height: 50px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-nav > * {
    max-width: 1000px;
    display: flex;
    align-items: center;
}

.site-title {
    height: 50px;
}

.site-title > *:last-child {
    margin-left: 5px;
    height: 40px;
}

.site-dirs > *:not(:first-child) {
    margin-left: 15px;
}

.site-dir {
    background: none;
    border: none;
    color: black;
}

.site-dir, .site-dir:link, .site-dir:visited {
    cursor: pointer;
    color: brown;
    text-decoration: none;
    font-size: 18px;
}

.site-dir:hover {
    color: red;
}

.site-dir:active {
    color: red;
}

.alert {
    margin: 15px;
    padding: 15px;
    background-color: #fa7;
    border: solid 1px #f66;
    border-radius: 5px;
    color: black;
}

/* common form classes */
.form-controls {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.form-controls button {
    display: block;
    padding: 12px 20px;
    border-radius: 5px;;
    background-color: #fda;
    font-size: 18px;
}

.form-controls button:hover {
    background-color: #fc8;
}

.form-controls button:active {
    background-color: #f85;
}

/* auth form */
form.auth fieldset {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

form.auth fieldset div {
    margin: 5px;
}

form.auth div.label {
    text-align: right;
}

form.auth input {
    padding: 5px;
    border: solid 1px #aaa;
    border-radius: 5px;
}

/* campaign page */
h1 {
    margin: 15px 0;
}

.blocks {
    margin-top: 50px;
}

.blocks > li {
    margin-top: 10px;
}

.blocks ul {
    margin-left: 20px;
}

.blocks ul > li {
    margin-top: 5px;
}

.redirect-page > * {
    margin: 50px auto;
    max-width: 400px;
}
