/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

label {
    user-select: none;
}

:root {
    --content-width: 1000px;
}

.hidden {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

header {
    padding: 10px;
    width: 100%;
    background-color: #ddd;
}

footer {
    margin-top: 80px;
    padding: 50px 0;
    background-color: #f0f0f0;
    text-align: center;
    color: #888;
    font-size: 12px;
    font-family: sans-serif;
}

.site-logo img {
    height: 50px;
}

nav {
    max-width: var(--content-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

nav ul {
    display: flex;
}

nav li {
    flex: 10;
    list-style: none;
}

nav li a {
    padding: 10px;
}

nav li a:hover {
    border-bottom: solid 3px #aaa;
}

nav.main {
}

nav.page-context {
}

main {
    flex-grow: 1;
    margin: 20px auto;
    max-width: var(--content-width);
}

.selection {
    user-select: none;
    font-family: Fira Sans;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

.selection li {
    list-style: none;
}

.selection input {
    display: none;
}

.selection label {
    display: block;
    margin: 6px;
    padding: 8px;
    border-radius: 6px;
    /* box-shadow: 0 0 2px 1px rgba(1,1,1,0.4); */
    background-color: #eee;
}

.selection label:hover {
    box-shadow: inset 0 0 0px 1px #0080ff;
}

.selection label:active {
    background-color: #0cf;
}

.selection input:checked + label {
    background-color: #0af;
}

.selection input:checked:active + label {
    background-color: #0cf;
}

.selection input:disabled + label {
    background-color: #aaa;
    color: #555
}

#traits-section label {
    padding: 8px 15px;
}

#traits-section .cost {
    margin-right: 5px;
}

#traits-section .cost.positive {
    color: green;
}

#traits-section .cost.negative {
    color: red;
}

#traits-section .cost.free {
    color: grey;
}

#gender-section label {
    font-size: 20px;
    width: 45px;
    text-align: center;
}

.description {
    font-family: Fira Sans;
    font-size: 14px;
    float: left;
}

fieldset {
}
